<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Processador de Imagens</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <!-- Logos nos cantos -->
    <img src="{{ url_for('static', filename='logos/LNCC.png') }}" alt="LNCC" class="logo logo-top-left">
    <img src="{{ url_for('static', filename='logos/snct2.png') }}" alt="SNCT" class="logo logo-bottom-right">
    <img src="{{ url_for('static', filename='logos/martin.png') }}" alt="Martin" class="logo logo-top-right">    

    <body>
        <div class="container">
            <h1>Escolha uma categoria</h1>
            <div class="category-gallery">
                {% for category in categories %}
                    <div class="category-container">
                        <a href="{{ url_for('category', category=category) }}">
                            <p>{{ category.capitalize() }}</p>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </body>
    </html>
    
</body>
</html>



